<table>
  <% @files.each do |file| %>
  <tr>
    <td class="file">
      <a href="/<%= file %>"><%= file %></a>
    </td>
    <td>
      <form class="inline" action="/<%= file %>/edit" method="get">
        <button type="submit">edit</button>
      </form>
      <form class="inline" action="/<%= file %>/duplicate" method="post">
        <button type="submit">duplicate</button>
      </form>
      <form class="inline" action="/<%= file %>/destroy" method="post">
        <button type="submit">delete</button>
      </form>
    </td>
  </tr>
  <% end %>
</table>

<div>
  <p><a href="/new">New Document!</a></p>
</div>

<div>
  <% if signed_in? %>
    <form action="/users/signout" method="post">
      <p class="user-status">Signed in as <%= user %>
      <button type="submit" style="display: inline;">sign out</button>
      </p>
    </form>
  <% else %>
    <form class="inline" action="/users/signin" method="get">
      <button type="submit">sign in</button>
    </form>
    <form class="inline" action="/users/signup" method="get">
      <button type="submit">sign up</button>
    </form>
  <% end %>
</div>
