<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>

<% unless @query.nil? || @query.empty? || !@query.match(/\w/) %>
  <% if @results.empty? %>
    <p>No matches were found for '<%= @query %>'. Sorry not sorry! :)</p>
  <% else %>
    <h3 class="content-subhead">Results for '<%= @query %>'</h3>
    <ul>
    <% @results.group_by { |chap, idx, par| chap }.each do |chap, arr| %>
      <li><h4><%= @contents[chap - 1] %></h4></li>
      <% arr.each do |_, idx, par| %>
        <ul>
          <li><a href="/chapters/<%= chap %>#<%= idx %>"> paragraph <%= idx %>:
              </a>
              <p> <%= paragraph_highlight(par, @query) %></p>
          </li>
        </ul>
      <% end %>
    <% end %>
    </ul>
  <% end %>
<% end %>
