<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>

<% unless @query.nil? || @query.empty? || !@query.match(/\w/) %>
  <% if @results.empty? %>
    <p>No matches were found for '<%= @query %>'. Sorry not sorry! :)</p>
  <% else %>
    <h3 class="content-subhead">Results for '<%= @query %>'</h3>
    <ul>
    <% @results.each do |chap| %>
      <li><a href="/chapters/<%= chap %>"><%= @contents[chap - 1] %></a></li>
    <% end %>
    </ul>
  <% end %>
<% end %>
